<div class="content">
  <nav>
    <span class="nav-header">Login</span>
  </nav>

  <aside>
    <input type="hidden" value="5">
  </aside>

  <main>
    <section>
      <table>
        <form id="loginForm" action="/auth/login" method="POST">
          <tbody>
            <tr>
              <td>
                <label for="country">COUNTRY CODE*</label>
              </td>
              <td>
                <input id="country" type="text" name="country" placeholder="65">
              </td>
            </tr>
            <tr>
              <td>
                <label for="number">PHONE*</label>
              </td>
              <td>
                <input id="number" type="text" name="number" placeholder="88230927">
              </td>
            </tr>
            <tr>
              <td>
                <label for="password">PASSWORD*</label>
              </td>
              <td>
                <input type="password" name="password" placeholder="pa55w0rd">
              </td>
            </tr>
            <tr>
              <td>
                <input id="phone" type="hidden" name="phone" value="">
              </td>
              <td>
                <input id="submitForm" class="button" type="button" value="Login">
              </td>
            </tr>
          </tbody>
        </form>
      </table>
    </section>
  </main>
</div>

<script>
  var loginForm = document.getElementById('loginForm')
  var country = document.getElementById('country')
  var number = document.getElementById('number')
  var phone = document.getElementById('phone')
  var submitForm = document.getElementById('submitForm')
  submitForm.addEventListener('click', () => {
    phone.value = '+' + country.value + number.value
    loginForm.submit()
  })
</script>
