<div class="container c-map-form">
  <div class="columns">
    <div class="column"></div>
    <div class="column">
      <h2>Login</h2>
      <aside>
        <input type="hidden" value="5">
      </aside>
      <form id="loginForm" action="/auth/login" method="POST">
        <div class="field">
          <label class="label" for='country'>Country Code</label>
          <p class="control">
            <input class="input" name="country" id="country" type="text" placeholder="Country Code">
          </p>
        </div>
        <div class="field">
          <label class="label" for='number'>Phone Number</label>
          <p class="control">
            <input class="input" name="number" id="number" type="text" placeholder="Phone Number">
          </p>
        </div>
        <div class="field">
          <label class="label" for='password'>Password</label>
          <p class="control">
            <input class="input" name="password" id="password" type="password" placeholder="Password">
          </p>
        </div>
        <input id="phone" type="hidden" name="phone" value="">
        <div class="field">
          <p class="control">
            <input id="submitForm" class="button is-primary" type="button" value="Login">
          </p>
        </div>
      </form>
    </div>
    <div class="column"></div>
  </div>
</div>

<script>
  var loginForm = document.getElementById('loginForm')
  var country = document.getElementById('country')
  var number = document.getElementById('number')
  var phone = document.getElementById('phone')
  var submitForm = document.getElementById('submitForm')
  submitForm.addEventListener('click', () => {
    phone.value = '+' + country.value + number.value
    loginForm.submit()
  })
</script>
