<div class="content">
  <nav>
    <span class="nav-header">Sign Up</span>
  </nav>
  <aside>
    <ul></ul>
  </aside>

  <main>
    <section>
      <table>
        <form action="/auth/signup" method="POST">
          <tbody>
            <tr>
              <td>
                <label for="email">EMAIL</label>
              </td>
              <td>
                <input type="email" name="email" placeholder="email@locavorus.com">
              </td>
            </tr>
            <tr>
              <td>
                <label for="name">NAME</label>
              </td>
              <td>
                <input type="text" name="name" placeholder="Rex">
              </td>
            </tr>
            <tr>
              <td>
                <label for="password">PASSWORD</label>
              </td>
              <td>
                <input type="password" name="password" placeholder="minimum 8 characters">
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <input class="button" type="submit" value="Sign Up">
              </td>
            </tr>
          </tbody>
        </form>
      </table>
    </section>
  </main>
  <div class="content">
