<div class="content">
  <nav>
    <span class="nav-header">Sign Up</span>
  </nav>
  <aside>
    <ul></ul>
  </aside>

  <main>
    <section>
      <table>
        <form id="signUpForm" action="/auth/signup" method="POST">
          <tbody>
            <tr>
              <td>
                <label for="country">COUNTRY CODE*</label>
              </td>
              <td>
                <input id="country" type="text" name="country" placeholder="65">
              </td>
            </tr>
            <tr>
              <td>
                <label for="number">PHONE*</label>
              </td>
              <td>
                <input id="number" type="text" name="number" placeholder="88230927">
              </td>
            </tr>
            <tr>
              <td>
                <label for="email">EMAIL</label>
              </td>
              <td>
                <input type="email" name="email" placeholder="email@email.com">
              </td>
            </tr>
            <tr>
              <td>
                <label for="name">NAME*</label>
              </td>
              <td>
                <input type="text" name="name" placeholder="Rex">
              </td>
            </tr>
            <tr>
              <td>
                <label for="password">PASSWORD</label>
              </td>
              <td>
                <input type="password" name="password" placeholder="minimum 8 characters">
              </td>
            </tr>
            <tr>
              <td>
                <input id="phone" type="hidden" name="phone" value="">
              </td>
              <td>
                <input id="submitForm" class="button" type="button" value="Sign Up">
              </td>
            </tr>
          </tbody>
        </form>
      </table>
    </section>
  </main>
</div>

<script>
  var signUpForm = document.getElementById('signUpForm')
  var country = document.getElementById('country')
  var number = document.getElementById('number')
  var phone = document.getElementById('phone')
  var submitForm = document.getElementById('submitForm')
  submitForm.addEventListener('click', () => {
    phone.value = '+' + country.value + number.value
    signUpForm.submit()
  })
</script>
