<h1>my account</h1>
<h3>my name:
  <%- currentUser.name %></h3>
<h3>my email:
  <%- currentUser.email %></h3>
<h3>my phone:
  <%- currentUser.phone %></h3>

<button onclick='<%- twilio(currentUser.phone) %>' type="button" name="button">Send me a message</button>
