<h1>Provide Advice</h1>
<ul id="help"></ul>
<script src="/socket.io/socket.io.js"></script>
<script>
  var all = []
  var socket = io.connect()
  socket.on('advice', function(room) {
    var newListItem = document.createElement('li')
    newListItem.innerHTML = '<a href=/advice/give/' + room + ' target="_blank">Give advice to ' + room + '</a>'
    document.getElementById('help').appendChild(newListItem)
    all.push(room)
  })
  socket.on('left', function(room) {
    var index = all.indexOf(room)
    var toRemove = document.querySelectorAll('li')
    all.splice(index, 1)
    var listToRemove = toRemove[index]
    listToRemove.parentNode.removeChild(listToRemove)
  })
</script>
