<div class="content">
  <nav></nav>
  <section class="error404">
    <h1>404!</h1>
    <h3>"How did you get here?", wondered Rex, as he foraged for more juicy berries to maintain his glowing complexion.
    </h3>
    <a href="/"><img src="/images/locavorus-large.png" alt="locavorus-large.png"></a>
  </section>
</div>
