<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  </head>
  <body>
    <a href='/'>
      <h3>Love Confidently</h3>
    </a>
    <nav class="nav">
      <div class="nav-center nav-menu">
        <% var current = current ? current : ''; %>
        <a class="nav-item <% if (current === 'decide') { %>nav-item-active<% } %>" href="/decide">
          Which Contraception?
        </a>
        <a class="nav-item <% if (current === 'map') { %>nav-item-active<% } %>" href="/map">
          Where To Buy
        </a>
        <% if (!currentUser) { %>
          <% include partials/login %>
        <% } else { %>
          <% include partials/account %>
          <% include partials/logout %>
        <% } %>
      </div>
    </nav>
    <% include partials/alerts %>
    <%- body %>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Love Confidently</strong>
          </p>
          <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-2">
              <p style="text-align: center;">Maria</p>
              <figure class="image is-96x96" style="margin: 0 auto;">
                <img src="/images/maria.jpg" style="border-radius: 50px;">
              </figure>
            </div>
            <div class="column is-2">
              <p style="text-align: center;">Adam</p>
              <figure class="image is-96x96" style="margin: 0 auto;">
                <img src="/images/adam.png">
              </figure>
            </div>
            <div class="column is-2">
              <p style="text-align: center;">Hana</p>
              <figure class="image is-96x96" style="margin: 0 auto;">
                <img src="/images/Hana.jpg"  style="border-radius: 50px;">
              </figure>
            </div>
            <div class="column is-3"></div>
          </div>
          <div class="columns">
            <div class="column is-4"></div>
            <div class="column is-2">
              <p style="text-align: center;">Jonathan</p>
              <figure class="image is-96x96" style="margin: 0 auto;">
                <img src="/images/locavorus-large.png" style="border-radius: 50px;">
              </figure>
            </div>
            <div class="column is-2">
              <p style="text-align: center;">Luke</p>
              <figure class="image is-96x96" style="margin: 0 auto;">
                <img src="/images/luke.jpg"  style="border-radius: 50px;">
              </figure>
            </div>
            <div class="column is-4"></div
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
