<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Log In</a>
    <%- body %>
  </body>
</html>
