<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  </head>
  <body>
    <a href='/'>
      <h3>Love Confidently</h3>
    </a>
    <nav class="nav">
      <div class="nav-center nav-menu">
        <% var current = current ? current : ''; %>
        <a class="nav-item <% if (current === 'decide') { %>nav-item-active<% } %>" href="/decide">
          Which Contraception?
        </a>
        <a class="nav-item <% if (current === 'map') { %>nav-item-active<% } %>" href="/map">
          Where To Buy
        </a>
        <% if (!currentUser) { %>
          <% include partials/login %>
        <% } else { %>
          <% include partials/account %>
          <% include partials/logout %>
        <% } %>
      </div>
    </nav>
    <% include partials/alerts %>
    <%- body %>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Love Confidently</strong>
          </p>
          <p>
            By ?
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
