<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <a href="/">Home</a>
      <% if (!currentUser) { %>
        <% include partials/login %>
      <% } else { %>
        <% include partials/account %>
        <% include partials/logout %>
      <% } %>
    </div>
    <% include partials/alerts %>
    <%- body %>
  </body>
</html>
