<a onclick="view(); return false">View</a>
<a onclick="stream(); return false">Stream..</a>

<div id="logger"></div>

<video style="display: none;" id="video"></video>

<canvas id="prev"></canvas>

<img id="img">

<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io()

  // function logger(msg) {   $("#logger").text(msg); }

  function stream() {
    var canvas = document.getElementById("prev")
    var context = canvas.getContext("2d")
    var video = document.getElementById("video")
    var freq = 10

    canvas.width = window.innerWidth * 0.9; //  800;
    canvas.height = window.innerHeight * 0.9 // 400;

    context.width = canvas.width;
    context.height = canvas.height;

    function loadCam(stream) {
      video.src = window.URL.createObjectURL(stream);
      // logger("Camera loaded [OKAY]");
    }

    function loadFail(stream) {
      // logger("Failed loading camera");
    }

    function viewVideo(video, context) {
      context.drawImage(video, 0, 0, context.width, context.height);
      socket.emit("stream", canvas.toDataURL("image/webp"));
    }

    $(function() {
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia

      if (navigator.getUserMedia) {
        navigator.getUserMedia({
          video: true
        }, loadCam, loadFail);
      }
      setInterval(function() {
        viewVideo(video, context);
      }, freq * 10);
    })
  }

  function view() {
    // logger("Wait...");
    socket.on("stream", function(video) {
      var img = document.getElementById("img");
      img.src = video;
      // logger("stream play");
    });
  }
</script>
</body>
</html>
