    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Primary title
          </h1>
          <h2 class="subtitle">
            Primary subtitle
          </h2>
        </div>
      </div>
    </section>
    <section>
      <div>
        Current User:
        <% if (currentUser) { %>
          <%- currentUser.name %>
          <%- currentUser.email %>
        <% } else { %>
          nobody logged in
        <% } %>
      </div>
      All Users created:
      <% users.forEach((user) => { %>
        <div style="background-color: red">
          <%= user.name %>:
          <%= user.email %>
        <% }) %>
      </div>
    </section>

    <main class="container">

       INDEX
    </main>
