<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Hackathon</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <!--[if lt IE 9]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script> <![endif]-->
  </head>

  <body>
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item">
          <img src="LOGO!" alt="LOGO!">
        </a>
      </div>

      <div class="nav-center">
        <a class="nav-item">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a>
        <a class="nav-item">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
      </div>

      <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
      <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <!-- This "nav-menu" is hidden on mobile -->
      <!-- Add the modifier "is-active" to display it on mobile -->
      <div class="nav-right nav-menu">
        <a class="nav-item">
          Home
        </a>
        <a class="nav-item">
          About
        </a>

        <div class="nav-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button">
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
                <span>Tweet</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Primary title
          </h1>
          <h2 class="subtitle">
            Primary subtitle
          </h2>
        </div>
      </div>
    </section>
    <section>
      <div>
        Current User:
        <% if (currentUser) { %>
          <%- currentUser.name %>
          <%- currentUser.email %>
        <% } else { %>
          nobody logged in
        <% } %>
      </div>
      All Users created:
      <% users.forEach((user) => { %>
        <div style="background-color: red">
          <%= user.name %>:
          <%= user.email %>
        <% }) %>
      </div>
    </section>

    <main class="container">

      <table>
        <form>

          <tr>
              <td>Do you have a steady partner</td>
              <td><select name='XX' class='form-control' required>
                <option value='Yes'>Yes</option>
                <option value='No'>No</option>
            </select>
              </td>
          </tr>

          <tr>
              <td>Are you well organised?</td>
              <td><select name='XX' class='form-control'>
                <option value='Yes'>Yes</option>
                <option value='No'>No</option>
            </select>
              </td>
          </tr>

          <tr>
              <td>When do you want to think about contraception?</td>
              <td><select name='XX' class='form-control'>
                <option value='onlySex'>Only During Sex</option>
                <option value='routine'>Do not mind as part of routine</option>
                <option value='rarely'>Never or rarely want to think about it</option>
            </select>
              </td>
          </tr>

          <tr>
              <td>Do you want hormone altering contraception?</td>
              <td><select name='XX' class='form-control'>
                <option value='Yes'>Yes</option>
                <option value='No'>No</option>
            </select>
              </td>
          </tr>

          <tr>
                 <td></td>
                 <td>
                   <button type="submit" class="btn btn-primary">
                      <span class="glyphicon"></span> Search
                  </button>
                 </td>
             </tr>


        </form>
          </table>



    </main>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Bulma</strong>
            by
            <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
          </p>
          <p>
            <a class="icon" href="https://github.com/jgthms/bulma">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
