<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Hackathon</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <!--[if lt IE 9]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script> <![endif]-->
  </head>

  <body>
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item">
          <img src="LOGO!" alt="LOGO!">
        </a>
      </div>

      <div class="nav-center">
        <a class="nav-item">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a>
        <a class="nav-item">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
      </div>

      <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
      <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <!-- This "nav-menu" is hidden on mobile -->
      <!-- Add the modifier "is-active" to display it on mobile -->
      <div class="nav-right nav-menu">
        <a class="nav-item">
          Home
        </a>
        <a class="nav-item">
          About
        </a>

        <div class="nav-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button">
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
                <span>Tweet</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Primary title
          </h1>
          <h2 class="subtitle">
            Primary subtitle
          </h2>
        </div>
      </div>
    </section>
    <section>
      <div>
        Current User:
        <% if (currentUser) { %>
          <%- currentUser.name %>
          <%- currentUser.email %>
        <% } else { %>
          nobody logged in
        <% } %>
      </div>
      All Users created:
      <% users.forEach((user) => { %>
        <div style="background-color: red">
          <%= user.name %>:
          <%= user.email %>
        <% }) %>
      </div>
    </section>

    <main class="container">
      <p>
        Lorem ipsum dolor sit amet, at novum saepe nullam eam. Cu est meis placerat accommodare, sapientem posidonium quo an. Commodo nusquam torquatos te vix, at dicam numquam nominavi sit. An tota animal pertinax his, solum vocibus phaedrum usu ne, corpora
        complectitur ea vix. Ut illud vivendo recteque sit, mel ex postulant gloriatur, adhuc viris tempor ne pri. At vim unum liber equidem. Mel cu etiam similique adversarium, ne vim lorem suscipiantur. Sit ad clita altera iriure, vis in utamur accumsan
        deleniti, cum fabulas ocurreret ut. Tamquam necessitatibus sea ut, eu dictas facilisis pro. Duo graece accusam te. Ei his atqui theophrastus, libris civibus ad pri. Platonem gubergren concludaturque has ei, per ei fabellas postulant consetetur, duo
        et nibh discere. At nominavi reprimique pro, cum labore audiam prodesset ea, ex nibh posse ullum eum. Ne nominati principes cum, eu graeci putant mnesarchum vis. Idque neglegentur an mei, te modo clita intellegam nam. Te nec quis euismod, eam in
        vitae sensibus, vim ne dicta inani. Ad pro zril verear latine. Stet suscipiantur at mel. Ea nam facete cetero incorrupte. Ad adhuc autem errem ius, in habeo labore patrioque cum. Te elit exerci sit. Pro adhuc tollit erroribus ea, amet nostro
        constituto ea sed, his legere fastidii facilisi te. Ei mel saperet assentior necessitatibus. Duis falli novum eu est. Per detraxit honestatis in. Te saepe invenire vix, eum recteque suavitate cu. Utinam causae laboramus sed no, te vel tantas officiis
        vituperata.
      </p>
      <p>
        Lorem ipsum dolor sit amet, at novum saepe nullam eam. Cu est meis placerat accommodare, sapientem posidonium quo an. Commodo nusquam torquatos te vix, at dicam numquam nominavi sit. An tota animal pertinax his, solum vocibus phaedrum usu ne, corpora
        complectitur ea vix. Ut illud vivendo recteque sit, mel ex postulant gloriatur, adhuc viris tempor ne pri. At vim unum liber equidem. Mel cu etiam similique adversarium, ne vim lorem suscipiantur. Sit ad clita altera iriure, vis in utamur accumsan
        deleniti, cum fabulas ocurreret ut. Tamquam necessitatibus sea ut, eu dictas facilisis pro. Duo graece accusam te. Ei his atqui theophrastus, libris civibus ad pri. Platonem gubergren concludaturque has ei, per ei fabellas postulant consetetur, duo
        et nibh discere. At nominavi reprimique pro, cum labore audiam prodesset ea, ex nibh posse ullum eum. Ne nominati principes cum, eu graeci putant mnesarchum vis. Idque neglegentur an mei, te modo clita intellegam nam. Te nec quis euismod, eam in
        vitae sensibus, vim ne dicta inani. Ad pro zril verear latine. Stet suscipiantur at mel. Ea nam facete cetero incorrupte. Ad adhuc autem errem ius, in habeo labore patrioque cum. Te elit exerci sit. Pro adhuc tollit erroribus ea, amet nostro
        constituto ea sed, his legere fastidii facilisi te. Ei mel saperet assentior necessitatibus. Duis falli novum eu est. Per detraxit honestatis in. Te saepe invenire vix, eum recteque suavitate cu. Utinam causae laboramus sed no, te vel tantas officiis
        vituperata.
      </p>
      <p>
        Lorem ipsum dolor sit amet, at novum saepe nullam eam. Cu est meis placerat accommodare, sapientem posidonium quo an. Commodo nusquam torquatos te vix, at dicam numquam nominavi sit. An tota animal pertinax his, solum vocibus phaedrum usu ne, corpora
        complectitur ea vix. Ut illud vivendo recteque sit, mel ex postulant gloriatur, adhuc viris tempor ne pri. At vim unum liber equidem. Mel cu etiam similique adversarium, ne vim lorem suscipiantur. Sit ad clita altera iriure, vis in utamur accumsan
        deleniti, cum fabulas ocurreret ut. Tamquam necessitatibus sea ut, eu dictas facilisis pro. Duo graece accusam te. Ei his atqui theophrastus, libris civibus ad pri. Platonem gubergren concludaturque has ei, per ei fabellas postulant consetetur, duo
        et nibh discere. At nominavi reprimique pro, cum labore audiam prodesset ea, ex nibh posse ullum eum. Ne nominati principes cum, eu graeci putant mnesarchum vis. Idque neglegentur an mei, te modo clita intellegam nam. Te nec quis euismod, eam in
        vitae sensibus, vim ne dicta inani. Ad pro zril verear latine. Stet suscipiantur at mel. Ea nam facete cetero incorrupte. Ad adhuc autem errem ius, in habeo labore patrioque cum. Te elit exerci sit. Pro adhuc tollit erroribus ea, amet nostro
        constituto ea sed, his legere fastidii facilisi te. Ei mel saperet assentior necessitatibus. Duis falli novum eu est. Per detraxit honestatis in. Te saepe invenire vix, eum recteque suavitate cu. Utinam causae laboramus sed no, te vel tantas officiis
        vituperata.
      </p>
      <p>
        Lorem ipsum dolor sit amet, at novum saepe nullam eam. Cu est meis placerat accommodare, sapientem posidonium quo an. Commodo nusquam torquatos te vix, at dicam numquam nominavi sit. An tota animal pertinax his, solum vocibus phaedrum usu ne, corpora
        complectitur ea vix. Ut illud vivendo recteque sit, mel ex postulant gloriatur, adhuc viris tempor ne pri. At vim unum liber equidem. Mel cu etiam similique adversarium, ne vim lorem suscipiantur. Sit ad clita altera iriure, vis in utamur accumsan
        deleniti, cum fabulas ocurreret ut. Tamquam necessitatibus sea ut, eu dictas facilisis pro. Duo graece accusam te. Ei his atqui theophrastus, libris civibus ad pri. Platonem gubergren concludaturque has ei, per ei fabellas postulant consetetur, duo
        et nibh discere. At nominavi reprimique pro, cum labore audiam prodesset ea, ex nibh posse ullum eum. Ne nominati principes cum, eu graeci putant mnesarchum vis. Idque neglegentur an mei, te modo clita intellegam nam. Te nec quis euismod, eam in
        vitae sensibus, vim ne dicta inani. Ad pro zril verear latine. Stet suscipiantur at mel. Ea nam facete cetero incorrupte. Ad adhuc autem errem ius, in habeo labore patrioque cum. Te elit exerci sit. Pro adhuc tollit erroribus ea, amet nostro
        constituto ea sed, his legere fastidii facilisi te. Ei mel saperet assentior necessitatibus. Duis falli novum eu est. Per detraxit honestatis in. Te saepe invenire vix, eum recteque suavitate cu. Utinam causae laboramus sed no, te vel tantas officiis
        vituperata.
      </p>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Bulma</strong>
            by
            <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
          </p>
          <p>
            <a class="icon" href="https://github.com/jgthms/bulma">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
