
<div id='intro'>
  <h2>Empower your family by taking a proactive approach to family planning.</h2>
</div>

<div id='call'>
<h3>< #1> </h3><h2>Take a survey to find out the most suitable family planning options for you.</h2>
<br />
<h3>< #2 ></h3><h2>Easily find healthcare providers around you.</h2>
<h3>< #3 ></h3><h2>Sign up to track your mood while on family planning solutions and get medical advice.</h2>
</div>
