    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Primary title
          </h1>
          <h2 class="subtitle">
            Primary subtitle
          </h2>
        </div>
      </div>
    </section>
    <section>
      <div>
        Current User:
        <% if (currentUser) { %>
          <%- currentUser.name %>
          <%- currentUser.email %>
        <% } else { %>
          nobody logged in
        <% } %>
      </div>
      All Users created:
      <% users.forEach((user) => { %>
        <div style="background-color: red">
          <%= user.name %>:
          <%= user.email %>
        <% }) %>
      </div>
    </section>

    <main class="container">

      <table>
        <form>

          <tr>
              <td>Do you have a steady partner</td>
              <td><select name='XX' class='form-control' required>
                <option value='Yes'>Yes</option>
                <option value='No'>No</option>
            </select>
              </td>
          </tr>

          <tr>
              <td>Are you well organised?</td>
              <td><select name='XX' class='form-control'>
                <option value='Yes'>Yes</option>
                <option value='No'>No</option>
            </select>
              </td>
          </tr>

          <tr>
              <td>When do you want to think about contraception?</td>
              <td><select name='XX' class='form-control'>
                <option value='onlySex'>Only During Sex</option>
                <option value='routine'>Do not mind as part of routine</option>
                <option value='rarely'>Never or rarely want to think about it</option>
            </select>
              </td>
          </tr>

          <tr>
              <td>Do you want hormone altering contraception?</td>
              <td><select name='XX' class='form-control'>
                <option value='Yes'>Yes</option>
                <option value='No'>No</option>
            </select>
              </td>
          </tr>

          <tr>
                 <td></td>
                 <td>
                   <button type="submit" class="btn btn-primary">
                      <span class="glyphicon"></span> Search
                  </button>
                 </td>
             </tr>


        </form>
          </table>



    </main>
