
<div id='intro'>
  <h2>Empower your family by taking a proactive approach to family planning.</h2>
</div>

<div class="main-page-bg">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column is-one-quarter">
        <div class="c-box c-box--blue">
          <div class="c-box__title">Take a survey to find out the most suitable family planning options for you</div>
          <a class="button is-large" href="/decide">Get Started</a>
        </div>
      </div>
    </section>
      <div class="column"></div>
      <div class="column"></div>
    </div>
    <div class="columns">
      <div class="column"></div>
      <div class="column is-one-quarter">
        <div class="c-box c-box--aqua">
          <div class="c-box__title">Easily find healthcare providers around you</div>
          <a class="button is-medium" href="/map">Read More</a>
        </div>
      </div>
      <div class="column is-one-quarter"></div>
      <div class="column is-one-quarter">
        <div class="c-box c-box--green">
          <div class="c-box__title">Track your mood while on family planning solutions and get medical advice</div>
          <a class="button is-medium" href="/auth/signup">Sign up</a>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>