
<div id='intro'>
  <h2>Empower your family by taking a proactive approach to family planning. Get the information you need, find your nearest healthcare provider, track your mood and get medical advice.</h2>
</div>

<div id='call'>
<h3>< #1> </h3><h2>Take a survey to find out the most suitable family planning options for you.</h2>
<br />
<h3>< #2 ></h3><h2>Easily find healthcare providers around you.</h2>
<h3>< #3 ></h3><h2>Sigh up to track your mood while on family planning solutions and get medical advice.</h2>
</div>


<%# <div id="apnd">
  <div><h2>Take a survey to find out the most suitable family planning options for you.</h4>
  </div>
  <div><h4>Easily find healthcare providers around you.</h4></div>
  <div><h4>Sigh up to track your mood while on family planning solutions and get medical advice</h4></div>
</div>%>

<%# <div class="main-page-bg">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column is-one-quarter">
        <div class="c-box c-box--blue">
          <div class="c-box__title">Which contraception is right for me?</div>
          <a class="button" href="/decide">Get Started</a>
        </div>
      </div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
    <div class="columns">
      <div class="column"></div>
      <div class="column is-one-quarter">
        <div class="c-box c-box--aqua">
          <div class="c-box__title">Contraception Methods</div>
          <a class="button">Read More</a>
        </div>
      </div>
      <div class="column is-one-quarter"></div>
      <div class="column is-one-quarter">
        <div class="c-box c-box--green">
          <div class="c-box__title">Login</div>
          <a class="button" href="/auth/login">Login</a>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>%>
