<div class="main-page-bg">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column is-one-quarter">
        <div class="c-box c-box--blue">
          <div class="c-box__title">Which contraception is right for me?</div>
          <a class="button" href="/decide">Get Started</a>
        </div>
      </div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
    <div class="columns">
      <div class="column"></div>
      <div class="column is-one-quarter">
        <div class="c-box c-box--aqua">
          <div class="c-box__title">Contraception Methods</div>
          <a class="button">Read More</a>
        </div>
      </div>
      <div class="column is-one-quarter"></div>
      <div class="column is-one-quarter">
        <div class="c-box c-box--green">
          <div class="c-box__title">Login</div>
          <a class="button" href="/auth/login">Login</a>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>

<!-- 
    <section>
      <div>
        Current User:
        <% if (currentUser) { %>
          <%- currentUser.name %>
          <%- currentUser.email %>
        <% } else { %>
          nobody logged in
        <% } %>
      </div>
      All Users created:
      <% users.forEach((user) => { %>
        <div style="background-color: red">
          <%= user.name %>:
          <%= user.email %>
        <% }) %>
      </div>
    </section> -->