.main-page-bg {
  background-color: grey;
  background-image: url('/bg.jpg');
}

.c-box {
  padding: 40px 20px;
  text-align: center;
  border-bottom: green 5px solid;
}

.c-box--blue {
  background: rgba(25, 144, 206, 0.6);
  border-bottom: rgba(25, 144, 206, 1) 10px solid;
  margin-top: 40px;
}

.c-box--aqua {
  background: rgba(2, 184, 191, 0.6);
  border-bottom: 10px solid rgba(2, 184, 191, 1);
  margin-bottom: 40px;
}

.c-box--green {
  background: rgba(7, 188, 131, 0.6);
  border-bottom: rgba(7, 188, 131, 1) 10px solid;
}

.c-box__title {
  color: white;
  font-size: 30px;
  padding-bottom: 40px;
}

h1 {
  color: rgb(17, 96, 137);
  font-size: 35px;
  font-weight: bold;
  font-family: Tahoma;
}

.nav {
  background-color: rgb(17, 96, 137);
}

.nav-item a, a.nav-item {
    color: white;
}

.c-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c-options__option {
  height: 200px;
  width: 25%;
  background: green;
  margin: 20px;
}

.c-options__option--inactive {
  background: grey;
}