.main-page-bg {
  background-color: grey;
  background-image: url('/bg.jpg');
}

.c-box {
  padding: 40px 20px;
  text-align: center;
  border-bottom: green 5px solid;
}

.c-box--blue {
  background: rgba(25, 144, 206, 0.6);
  border-bottom: rgba(25, 144, 206, 1) 10px solid;
  margin-top: 40px;
}

.c-box--aqua {
  background: rgba(2, 184, 191, 0.6);
  border-bottom: 10px solid rgba(2, 184, 191, 1);
  margin-bottom: 40px;
}

.c-box--green {
  background: rgba(7, 188, 131, 0.6);
  border-bottom: rgba(7, 188, 131, 1) 10px solid;
}

.c-box__title {
  color: white;
  font-size: 30px;
  padding-bottom: 40px;
}

h1 {
  color: rgb(17, 96, 137);
  font-size: 35px;
  font-weight: bold;
  font-family: Tahoma;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

.nav {
  background-color: rgb(17, 96, 137);
}

.nav-item a, a.nav-item {
    color: white;
}

.c-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c-options__option {
  height: 200px;
  width: 25%;
  background: green;
  margin: 20px;
}

.c-options__option--inactive {
  background: grey;
}

.mapForm {
  margin-top: 30px;
}

.mapInput {
  margin-top: 30px;
}

button {
  background-color: rgb(17, 96, 137);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.c-pros-cons {
  list-style: disc;
  padding: 10px;
}

.c-pros-cons li {
  margin-bottom: 10px;
}

#findYourAddress {
  background-color: rgb(17, 96, 137);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.decide {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#decideButton {
  margin-right: 10px;
  margin-bottom: 50px;
}

#chart {
  width: 40%;
  margin-left: 10%;
}
