<div class="container c-map-form">
  <div class="columns">
    <div class="column"></div>
    <div class="column">
      <h2>Enter your address or use current location to search for healthcare providers near you:</h2>
      <div class="mapInput">
        <form class="" action="/map" method="post">
          <div class="field">
            <label class="label" for='address'>Address</label>
            <p class="control">
              <input class="input" name="address" id="address" type="text" placeholder="Address">
            </p>
          </div>
          <div class="field is-grouped">
            <p class="control">
              <input id="findYourAddress" type="submit" name="" value="find address" class="button is-primary"/>
            </p>
            <p class="control">
              <button id="getLocationButton" type="button" class="button is-primary">Or use your current location</button>
            </p>

          </div>
        </form>
        <form id="yourLocationForm" class="" action="/map" method="post">
          <input type="hidden" id="yourLat" name="yourLat" value="">
          <input type="hidden" id="yourLong" name="yourLong" value="">
        </form>

        <p id="notSupported"></p>

        <script>
