    <main class="container">

          <tr>
              <td>Do you have a steady partner</td>
              <td><select name='XX' class='form-control' required>
                <option value='Yes'>Yes</option>
                <option value='No'>No</option>

              <td>Are you well organised?</td>
              <td><select name='XX' class='form-control'>
                <option value='Yes'>Yes</option>
                <option value='No'>No</option>

              <td>When do you want to think about contraception?</td>
              <td><select name='XX' class='form-control'>
                <option value='onlySex'>Only During Sex</option>
                <option value='routine'>Do not mind as part of routine</option>
                <option value='rarely'>Never or rarely want to think about it</option>

              <td>Do you want hormone altering contraception?</td>
              <td><select name='XX' class='form-control'>
                <option value='Yes'>Yes</option>
                <option value='No'>No</option>

                   <button type="submit" class="btn btn-primary">
                      <span class="glyphicon"></span> Search
                  </button>



  <% options.forEach((option) => { %>
      <%= option.name %>
    <% }) %>

    </main>
