<div class="container">
  <h1>IUD with Progestogen</h1>
  <p>Intrauterine device (IUD) with progestogen, sold under the brand name Mirena among others, is a intrauterine device that releases the hormone levonorgestrel.[2] It is used for birth control, heavy menstrual periods, and to prevent excessive build of the lining of the uterus in those on estrogen replacement therapy.[2] It is one of the most effective forms of birth control with a one-year failure rate around 0.2%.[1] The device is placed in the uterus and lasts three to five years.[3] Following removal fertility returns quickly.[2]</p>
  <div class="level" style="margin-top: 20px">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Average Cost</p>
        <p class="title">₹8500</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Typical Use Failure Rate</p>
        <p class="title">0.2%</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Perfect Use Failure Rate</p>
        <p class="title">0.2%</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Usage</p>
        <p class="title">Every 3-7 years</p>
      </div>
    </div>
  </div>
  <h1 style="text-align: center;">Side Effects</h1>
  <div class="level" style="margin-top: 20px">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Irregular Menstrual Bleeding (67%)</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Infrequent Menstrual Bleeding (57%)</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Ovarian Cysts (31.2%)</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Vulvovaginitis (20.2%)</p>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column"></div>
    <div class="column is-one-third">
      <h1 style="text-align: center;">Pros</h1>
      <ul class="c-pros-cons">
          <li>Long-term method (5 to 7 years for LNG 52 IUS; 3 years for LNG 13.5 IUS)</li>
          <li>Discreet</li>
          <li>Extremely effective</li>
          <li>After up-front cost, cost-effective for term of use</li>
          <li>Rapid return to fertility after removal</li>
          <li>Can be inserted any time during menstrual cycle when pregnancy can be excluded</li>
          <li>Can be inserted immediately after abortion or delivery (i.e., after placenta is delivered) or as long as 4 weeks afterward</li>
          <li>Lack of estrogen makes IUC appropriate for smokers older than age 35, postpartum women who are breastfeeding, and others with contraindications to estrogen.</li>
          <li>LNG 52 IUS may reduce menstrual symptoms in women who have uterine fibroids or adenomyosis and may reduce menstrual blood loss in women at risk for anemia. LNG 13.5 IUS (Skyla®) does not carry the same indication for dysmenorrhea.</li>
      </ul>
    </div>
    <div class="column is-one-third">
      <h1 style="text-align: center;">Cons</h1>
      <ul class="c-pros-cons">
        <li>Requires visit to trained clinician for insertion and removal</li>
        <li>Some risk of expulsion within first year</li>
        <li>No protection against STIs</li>
      </ul>
    </div>
    <div class="column"></div>
  </div>
</div>