<div class="container">
    <h1 class="has-text-centered">IUD with Progestogen</h1>
    <br>
    <p class="has-text-centered">The IUD with progestogen is a type of long-acting reversible birth control.
        <br>
        It is on the World Health Organization's List of Essential Medicines, the most effective and safe medicines needed in a health system.  
        <br>
        More than 120 countries have approved the device and it is used by more than 10 million women.
    </p>
    <br>
    <hr>
    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Average Cost</p>
                <p class="title">₹8500</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Typical Use Failure Rate</p>
                <p class="title">0.2%</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Perfect Use Failure Rate</p>
                <p class="title">0.2%</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Usage</p>
                <p class="title">Every 3-7 years</p>
            </div>
        </div>
    </div>
  </div>
  <hr>

  <h1 class="has-text-centered">How it works</h1>
  <br>
  <p class="has-text-centered">The hormonal IUD's primary mechanism of action is to prevent fertilization. The levonorgestrel intrauterine system has several contraceptive effects:
  <br><br>
  The inside of the uterus becomes fatal to sperm
  <br>
  Cervical mucus thickens, preventing sperm from entering the uterus
  <br>
  Ovulation is not inhibited
  </p>
  <br>
  <hr>

  <div class="columns">
    <div class="column"></div>
    <div class="column is-one-third">
      <h2 style="text-align: center;">Pros</h2>
      <ul class="c-pros-cons">
          <li>Long-term method (5 to 7 years for LNG 52 IUS; 3 years for LNG 13.5 IUS)</li>
          <li>Discreet</li>
          <li>Extremely effective</li>
          <li>After up-front cost, cost-effective for term of use</li>
          <li>Rapid return to fertility after removal</li>
          <li>Can be inserted any time during menstrual cycle when pregnancy can be excluded</li>
          <li>Can be inserted immediately after abortion or delivery (i.e., after placenta is delivered) or as long as 4 weeks afterward</li>
          <li>Lack of estrogen makes IUC appropriate for smokers older than age 35, postpartum women who are breastfeeding, and others with contraindications to estrogen.</li>
          <li>LNG 52 IUS may reduce menstrual symptoms in women who have uterine fibroids or adenomyosis and may reduce menstrual blood loss in women at risk for anemia. LNG 13.5 IUS (Skyla®) does not carry the same indication for dysmenorrhea.</li>
      </ul>
    </div>
    <div class="column is-one-third">
      <h2 style="text-align: center;">Cons</h2>
      <ul class="c-pros-cons">
        <li>Requires visit to trained clinician for insertion and removal</li>
        <li>Some risk of expulsion within first year</li>
        <li>No protection against STIs</li>
      </ul>
    </div>

    <div class="column is-one-third">
      <h2 style="text-align: center;">Notable Side Effects</h2>
      <ul class="c-pros-cons">
        <li>Irregular Menstrual Bleeding (67%)</li>
        <li>Infrequent Menstrual Bleeding (57%)</li>
        <li>Ovarian Cysts (31.2%)</li>
        <li>Vulvovaginitis (20.2%)</li>
      </ul>
    </div>

    <div class="column"></div>
  </div>
</div>

